* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#heading {
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    margin: 0;
    width: fit-content;
    border: 1px solid black;
    float: right;
    padding: 10px;
}

#item1 {
    background-color: coral;
}

#item2 {
    background-color: red;
    color: white;
}

#item3 {
    background-color: sandybrown;
}

#row {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    padding: 10px;
}

.col-sl-1 {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: gray;
}

p {
    margin: 0;
    background-color: gray;
    padding: 10px;
    clear: right;
}

@media (min-width: 992px) {
    .col-lg-1 {
        float: left;
        border: 1px solid black;
        width: calc(33.33% - 10px);
        margin-right: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
        float: left;
        border: 1px solid black;
        width: calc(50% - 10px);
        margin-right: 10px;
    }
    .col-md-2 {
        float: left;
        border: 1px solid black;
        width: calc(100% - 10px);
    }
}

